// Colors
$primary-color: #fff;
$secondary-color: #5688df;
$terciary-color: #f8f9fa;
$blue: #93b4ee;
$grey0: #fcfcfc;
$grey01: #dbdce0;
$grey02: #9ba0a6;
$grey03: #71757a;
$grey04: #444;
$grey05: #333;

// Font
$font-stack: Arial, Helvetica, sans-serif;
